{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% tailwind_css %}
</head>
<body>
    <div class="container">

        
            
        <h1 class="bg-slate-500">Category List</h1>
        <a href="{% url 'category-create' %}" class="btn">Add Category</a>


        <table>
            <tr>
                <th>Title</th>
                <th>Description</th>

            </tr>
            {% for category in categories %}
            <tr>
                <td>{{category.name}}</td>
                <td>{{category.description}}</td>
                <td><a href="{% url 'category-update' category.id %}">Edit</a></td>
                
            </tr>
            {% endfor %}
        </table>
    </div>
   
</body>
</html>

