{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% tailwind_css %}
</head>
<body>
    <div class="container">

        
            
        <h1 class="bg-slate-500">Modifier Group List</h1>
        <a href="{% url 'mg-create' %}" class="btn">Add Modifier Group</a>


        <table>
            <tr>
                <th>Title</th>
                <th>Description</th>

            </tr>
            {% for mg in modifiergroups %}
            <tr>
                <td>{{mg.name}}</td>
                <td>{{mg.description}}</td>
                <td><a href="{% url 'mg-update' mg.id %}">Edit</a></td>
                
            </tr>
            {% endfor %}
        </table>
    </div>
   
</body>
</html>

