{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% tailwind_css %}
</head>
<body>
    <div class="container">

        
            
        <h1 class="bg-slate-500">Product List</h1>

        <a href="{% url 'product-create' %}" class="btn">Add Product</a>

        <table>
            <tr>
                <th>Product Title</th>
                <th>Price</th>
                <th>Description</th>
                <th>Category</th>
                <th>Status</th>
                <th></th>
                <th></th>
            </tr>
            {% for product in products %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.description}}</td>
                <td>{{product.category}}</td>
                <td>{{product.status}}</td>
                <td><a href="{% url 'product' product.id %}">View</a></td>
                <td><a href="{% url 'product-update' product.id %}">Edit</a></td>
                
            </tr>
            {% endfor %}
        </table>
    </div>
   
</body>
</html>

